
<div class="page">
    <div class="card-container" >
      <div class="card"  *ngFor="let  data of drinklist,let i=index;" [routerLink]="['/details']" (click)="navigatetoDetails(data)">
        <!-- <span [routerLink]="['details']"> -->
        <div class="top-half">
          <img [src]="data.strDrinkThumb" class="fixed-image"
          alt="Image">
        </div>
        <div class="bottom-half">
          {{data.strAlcoholic}}
        </div>
    <!-- </span> -->
    </div>
      <!-- <div class="card">
        <div class="top-half">
          <img src="your-image.jpg" alt="Image">
        </div>
        <div class="bottom-half">
          Card 1
        </div>
      </div>
      <div class="card">
        <div class="top-half">
          <img src="your-image.jpg" alt="Image">
        </div>
        <div class="bottom-half">
          Card 1
        </div>
      </div>
      <div class="card">
        <div class="top-half">
          <img src="your-image.jpg" alt="Image">
        </div>
        <div class="bottom-half">
          Card 1
        </div>
      </div> -->
      <!-- Add more cards as needed -->
    </div>
  </div>
