.page {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.filter-options {
  margin-bottom: 20px; 
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

  
  .card {
    width: 300px;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  
  .top-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .fixed-image {
    width: 100%; /* Adjust the image width to take the full width of the top-half */
    height: 100%; /* Adjust the image height to take the full height of the top-half */
    object-fit: fill; /* Image will fill the top-half, ignoring aspect ratio */
  }
  
  .bottom-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  